<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>削除確認</title>
</head>
<body>
  <h1>本当に削除しますか？</h1>

  <p><strong>タイトル：</strong><span th:text="${todo.title}"></span></p>
  <p><strong>メモ：</strong><span th:text="${todo.memo}"></span></p>

  <form method="post" th:action="@{/todo/delete}">
    <input type="hidden" name="id" th:value="${todo.id}">
    <input type="hidden" name="date" th:value="${todo.date}">
    <button type="submit">削除する</button>
  </form>
  <a th:href="@{/todo(date=${todo.date})}">← キャンセル</a>
</body>
</html>